<?xml version="1.0" encoding="utf-8" ?>
<nlog autoReload="true"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <!--
        See http://nlog-project.org/wiki/Configuration_file
        for information on customizing logging rules and outputs.
    -->
    <targets async="true">
        <target xsi:type="File"
                name="FileDebug"
                layout="${cmtrace}"
                fileName="${environment:variable=TEMP}\Debug.log"
                archiveEvery="Day"
                archiveNumbering="Date"
                archiveDateFormat="yyyyMMdd"
                maxArchiveFiles="14"
            />
        <target xsi:type="File"
                name="FileInfo"
                layout="${cmtrace}"
                fileName="${environment:variable=TEMP}\Info.log"
                archiveEvery="Day"
                archiveNumbering="Date"
                archiveDateFormat="yyyyMMdd"
                maxArchiveFiles="14"
            />
    </targets>
    <rules>
        <logger name="*" minlevel="Debug" writeTo="FileDebug" />
        <logger name="*" minlevel="Info" writeTo="FileInfo" />
    </rules>
</nlog>